# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db-wal
*.db-shm
*.db
*.ipch
*.filters
*.user
*.suo
*.tlog
*.log
*.pdb
*.ilk
*.recipe
*.txt
*.idb
*.sln
*.vsidx
*.lock


enc_temp_folder/
odbcapplication/odbcapplication/x64/Debug/routerepository.obj.enc
*.enc
*.sqlite
.vs/VSWorkspaceState.json
*.cd
